@import "common";


.my-home-page {


    .jumbotron {

        h1 {
            margin-top: 0;
            color: $second-color
        }
        p {
            color: $main-color
        }

        margin: -20px 0 0;
    }

    .my-toolbox {
        width: 356px;
        height: 277px;
        float: right;
    }

    @media (max-width: 767px) {
        .my-toolbox { width: 194px; height: 151px }
    }

    @media (max-width: 512px) {
        .my-toolbox { display: none }
    }


    .tools {
        padding-top: 20px;
        background-image: url("/resources/images/planes.png");
        background-repeat: no-repeat;
        background-position-x: 50%;
        background-position-y: top;
    }

}
