@import "common";


.my-home-page {



    .jumbotron {

        //background: $jumbotron-background;
        background: -moz-radial-gradient(center, ellipse cover, #ffffff 0%, #efefef 100%);
        background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#ffffff), color-stop(100%,#efefef));
        background: -webkit-radial-gradient(center, ellipse cover, #ffffff 0%,#efefef 100%);
        background: -o-radial-gradient(center, ellipse cover, #ffffff 0%,#efefef 100%);
        background: -ms-radial-gradient(center, ellipse cover, #ffffff 0%,#efefef 100%);
        background: radial-gradient(ellipse at center, #ffffff 0%,#efefef 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#efefef',GradientType=1 );

        padding-top: 100px;

        h1 {
            margin-top: 0;
            color: $main-color
        }
        p {
            color: $darkest-color;
                margin: 0;
        }

        margin-top: -20px;

    }


    .planes {
        margin: 100px;
    }

    .my-toolbox {
        width: 425px;
        height: 422px;
        float: right;
    }

    @media (max-width: 767px) {
        .my-toolbox { width: 194px; height: 151px }
    }

    @media (max-width: 512px) {
        .my-toolbox { display: none }
    }

}
