@font-face {
    font-family: "Open Sans";
    src: url('../OpenSans-Regular.ttf');
}
@font-face {
    font-family: "Open Sans Extrabold";
    src: url('../OpenSans-ExtraBold.ttf');
}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body{margin:0px;padding:0px;}
a{text-decoration:none;outline:none;color:#527a8a;border:0px;}
#header{width:100%;margin:0px auto;}
#header-left{width:90%;padding:21px 0 21px 0px;background-color:#3e8da6;float:left;}
#logo{text-align:center;cursor:pointer;margin-left:10%;}
#header-right{width:10%;background-color:#527a8a;float:right;padding:30px 0px 30px 0px;}
#category{float:left;cursor:pointer;text-align:center;width:94%;}/*when regiter and login key width:0px;padding:0px 13px 0px 14%;*/
#login{display:none;float:left;padding:0px 10px 0px 0px;cursor:pointer;}
#register{display:none;float:left;padding:0px 10px 0px 0px;cursor:pointer;}
#page-wrapper{width:100%;margin:0px auto;}
#page{width:960px;margin:0px auto;}
#page-1{height:500px;background-image:url('../images/radial_17.png');background-repeat:no-repeat;background-position:center;background-size:cover;}
#page-1-construction{height:590px;background-image:url('../images/radial_17.png');background-repeat:no-repeat;background-position:center;background-size:cover;}
.banner-text{font-size:34px;font-family: 'Open Sans';font-weight:800;color:#527a8a;padding:0px 0px 0px 95px;}
#banner-1{padding:134px 0px 0px 95px;}
#email-send{padding:76px 0px 0px 95px;float:left;}
#email-txt{text-align:center;width:290px;height:16px;background-color:#fff;font-size:10px;color:#333;border:none;}
#mail{margin:76px 0px 0px 14px;float:left;}
#image-mail{cursor:pointer;}
#start-click{width:960px;margin:0px auto;}
#left-block{float:left;}
#right-block{float:right;padding:123px 74px 0 0;}
#dotted{margin:10px 0px 150px 0px;height:1998px;background-image:url('../images/border.png');background-repeat:no-repeat;background-position:center center;}
.heightfix{height:20px;}
#startnow{float:right;margin:22px 10px 0px 0px;font-family: 'Open Sans';font-weight:800;color:#527a8a;font-size:18px;}
#skip-1{float:right;margin:25px 70px 0px 0px;cursor:pointer;}
#page-2{padding:160px 0px 0px 80px;width:90%;margin:0px auto;}
#seven-tool{float:left;margin:0px 25px 0px 0px;width:50px;}
#para-1{float:left;}
#para-1:hover{text-decoration:underline;color:#527a8a;}
#text-1-1{font-family: 'Open Sans';color:#527a8a;font-size:28px;font-weight:normal;}
#text-1-2{font-family: 'Open Sans';color:#527a8a;font-size:28px;font-weight:normal;}
#para-1:hover{text-decoration:underline;}
#plane-newbie{float:right;margin:112px 132px 0 0;}
#skip-2{float:right;margin:90px 70px 0px 0px;cursor:pointer;}
#next-set{float:right;margin:88px 10px 0px 0px;font-family: 'Open Sans';font-weight:800;color:#527a8a;font-size:18px;}
#second-tool{padding:213px 0px 0px 80px;width:90%;margin:0px auto;}
#dotted-tool{float:left;margin:0px 25px 0px 0px;}
#text-2-1{font-family: 'Open Sans';color:#527a8a;font-size:28px;cursor:pointer;font-weight:normal;}
#text-2-1:hover{text-decoration:underline;color:#527a8a;}
#wing-plane{float:right;margin:55px 110px 0 0;}
#skip-3{float:right;margin:93px 70px 0px 0px;cursor:pointer;}
#accelerate{float:right;margin:93px 10px 0px 0px;font-family: 'Open Sans';font-weight:800;color:#527a8a;font-size:18px;}
#final-tool{margin:205px 0px 0px 80px;width:90%;}
#dotted-tool-2{float:left;margin:0px 25px 0px 0px;}
#para-3{float:left;}
#text-3-1{font-family: 'Open Sans';color:#527a8a;font-size:28px;cursor:pointer;font-weight:normal;}
#text-3-1:hover{text-decoration:underline;color:#527a8a;}
#glider{float:right;margin:65px 370px 0 0;}
#skip-4{float:right;margin:17px 70px 0px 0px;cursor:pointer;}
#see-category{float:right;margin:15px 10px 0px 0px;font-family: 'Open Sans';font-weight:800;color:#527a8a;font-size:18px;}
#category-list{margin:137px 130px 0 130px;width:960px;margin:120px auto;}
#page-5{width:100%;}
.text-header{text-transform:capitalize;padding:10px;display:none;}
.block-1{text-align:center;width:46%;float:left;padding:30px 0px;}
.text-header{padding:10px;display:block;}
.image1{width:100px;margin:0px auto;font-size:80px;}
#seven-tool:hover{ transform: rotate(360deg);transition: transform .8s ease-in-out;}
#dotted-tool-2:hover{ transform: rotate(360deg);transition: transform .8s ease-in-out;}
#dotted-tool:hover{ transform: rotate(360deg);transition: transform .8s ease-in-out;}
.image1:hover{ transform: rotate(360deg);transition: transform .8s ease-in-out;}
.more-text{cursor:pointer;font-family: 'Open Sans';line-height:20px;color:#527a8a;font-weight:normal;}
.more-text:hover{text-decoration:underline;font-family: 'Open Sans';line-height:20px;color:#527a8a;font-weight:normal;}
#footer{width:100%;margin:0px auto;padding:0px;font-family: 'Open Sans';font-size:13px;}
#footer-left{float:left;width:36%;height:45px;background-color:#527a8a;color:#fff;padding:20px 0 0 0%;}
#footer-left-section{width:291px;margin:0px auto;}
#unibz{float:left;cursor:pointer;}
#copyright{float:left;margin:5px 0px 0px 20px;font-size:11px;font-weight:normal;}
#footer-right{background-color:#3e8da6;color:#fff;float:right;width:64%;padding:24px 0 23px 0%;}
.sepa{border:1px solid #fff;height:16px;float:right;}
#share{position:relative;float:right;padding:0px 20px 0px 20px;cursor:pointer;font-weight:normal;}
#share:hover{text-decoration:underline;}
#submit-resource{float:right;padding:0px 20px 0px 20px;cursor:pointer;font-weight:normal;}
#submit-resource:hover{text-decoration:underline;}
#email{float:right;padding:0px 20px 0px 20px;cursor:pointer;font-weight:normal;}
#email:hover{text-decoration:underline;}
#footer-section-right{width:96%;}
#page-level-2{overflow:hidden;width:auto;height:840px;margin:0px auto 0px auto;background-image:url('../images/tool-border.png');background-repeat:no-repeat;background-position:center top;}

.container-1{border:1px solid #527a8a; background-color:#3e8da6;height:216px;width:200px;border-radius:10px;overflow:hidden;padding:10px 5px;}
#block-1{margin:160px 20px 0px 20px;float:left;width:200px;font-family: 'Open Sans';color:#527a8a;font-size:18px;}
#header-tool-1{font-weight:bold;float:left;font-size:14px;margin:0px auto;width:195px;text-align:left;}
#recommend-1{float:right;padding:8px 0px;}
#like-1{display:none;float:left;margin:0px 10px;}
#message-1{display:none;float:left;margin:0px 5px 0px 0px;}
#logo-1{height:40px;text-align:center;margin:0px auto;line-height:81px;vertical-align:middle;}
#text-para-1{height:95px;font-family: 'Open Sans';font-weight:normal;color:#527a8a;font-size:14px;padding:5px 5px;text-align:center;}
#star{display:none;margin:10px auto;text-align:center;}
#theory-7{margin:0px 0px;}
#text-moqups{margin:30px 0px 55px 0px;font-size:12px;}
#text-xtensio{margin:30px 0px 25px 0px;font-size:12px;}
#learnmore-7{float:right;padding:9px 0px;color:#527a8a;cursor:pointer;font-size:12px;}
#learnmore-7:hover{text-decoration:underline;font-size:12px;}
#slash-7{float:left;padding:0 1px;color:#527a8a;height:17px;border-left:0px solid #527a8a;}
#toollink-7{float:left;padding:8px 0px;}
#atoolink-7{color:#527a8a;font-size:12px;}
#atoolink-7:hover{text-decoration:underline;}
#theory-1{margin:0px 0px;}
#text-trello{margin:30px 0 45px;font-size:12px;}
#learnmore-1{float:right;padding:9px 0px;color:#527a8a;cursor:pointer;font-size:12px;}
#learnmore-1:hover{text-decoration:underline;}
#slash-1{float:left;padding:0 1px;color:#527a8a;height:17px;border-left:0px solid #527a8a;}
#toollink-1{float:left;padding:8px 0px;}
#atoolink-1{color:#527a8a;font-size:12px;}
#atoolink-1:hover{text-decoration:underline;font-size:12px;}
.container-2{border:1px solid #527a8a; background-color:#3e8da6;transition: opacity 300ms ease 0s;height:216px;width:200px;border-radius:10px;overflow:hidden;padding:10px 5px;}
#block-2{height:216px;margin:160px 20px 0px 20px;float:left;width:200px;font-family: 'Open Sans';color:#527a8a;font-size:18px;}
#header-tool-2{font-weight:bold;float:left;font-size:14px;margin:0px auto;width:195px;text-align:left;}
#recommend-2{float:right;padding:8px 0px;}
#like-2{display:none;float:left;margin:0px 10px;}
#message-2{display:none;float:left;margin:0px 5px 0px 0px;}
#logo-2{height:40px;text-align:center;margin:0px auto;line-height:81px;vertical-align:middle;}
#text-para-2{height:95px;font-family: 'Open Sans';font-weight:normal;color:#527a8a;font-size:14px;padding:5px 5px;text-align:center;}
#star-2{display:none;margin:10px auto;text-align:center;}
#theory-2{margin:0px 0px;}
#text-squarespace{margin:30px 0 45px;font-size:12px;}
#learnmore-2{float:right;padding:9px 0px;color:#527a8a;cursor:pointer;font-size:12px;}
#learnmore-2:hover{text-decoration:underline;}
#slash-2{float:left;padding:0 1px;color:#527a8a;height:17px;border-left:0px solid #527a8a;}
#toollink-2{float:left;padding:8px 0px;font-size:12px;}
#atoolink-2{color:#527a8a;font-size:12px;}
#atoolink-2:hover{text-decoration:underline;}
.container-3{border:1px solid #527a8a; background-color:#3e8da6;transition: opacity 300ms ease 0s;height:216px;width:200px;border-radius:10px;overflow:hidden;padding:10px 5px;}
#block-3{height:216px;margin:20px 20px 0 20px;float:left;width:200px;font-family: 'Open Sans';color:#527a8a;font-size:18px;}
#header-tool-3{font-weight:bold;float:left;font-size:14px;margin:0px auto;width:195px;text-align:left;}
#recommend-3{float:right;padding:8px 0px;}
#like-3{display:none;float:left;margin:0px 10px;}
#message-3{display:none;float:left;margin:0px 5px 0px 0px;}
#logo-3{height:40px;text-align:center;margin:0px auto;line-height:81px;vertical-align:middle;}
#text-para-3{height:95px;font-family: 'Open Sans';font-weight:normal;color:#527a8a;font-size:14px;padding:5px 5px;text-align:center;}
#star-3{display:none;margin:10px auto;text-align:center;}
#theory-3{margin:0px 0px;}
#text-hootsuite{margin:30px 0 25px;font-size:12px;}
#learnmore-3{float:right;padding:18px 0px;color:#527a8a;cursor:pointer;font-size:12px;}
#learnmore-3:hover{text-decoration:underline;}
#slash-3{float:left;padding:0 1px;color:#527a8a;height:17px;border-left:0px solid #527a8a;}
#toollink-3{float:left;padding:16px 0px;}
#atoolink-3{color:#527a8a;font-size:12px;}
#atoolink-3:hover{text-decoration:underline;font-size:12px;}
.container-4{border:1px solid #527a8a; background-color:#3e8da6;transition: opacity 300ms ease 0s;height:216px;width:200px;border-radius:10px;overflow:hidden;padding:10px 5px;}
#block-4{height:216px;margin:20px 20px 0 0%;float:left;width:200px;font-family: 'Open Sans';color:#527a8a;font-size:18px;}
#header-tool-4{font-weight:bold;float:left;font-size:14px;margin:0px auto;width:195px;text-align:left;}
#recommend-4{float:right;padding:8px 0px;}
#like-4{display:none;float:left;margin:0px 10px;}
#message-4{display:none;float:left;margin:0px 5px 0px 0px;}
#logo-4{height:40px;text-align:center;margin:0px auto;line-height:81px;vertical-align:middle;}
#text-para-4{height:95px;font-family: 'Open Sans';font-weight:normal;color:#527a8a;font-size:14px;padding:5px 5px;text-align:center;}
#text-para-5{height:95px;font-family: 'Open Sans';font-weight:normal;color:#527a8a;font-size:14px;padding:5px 5px;text-align:center;}
#star-4{display:none;margin:10px auto;text-align:center;}
#theory-4{margin:0px 0px;}
#text-crazyegg{margin:30px 0 50px;font-size:12px;}
#learnmore-4{float:right;padding:18px 0px;color:#527a8a;cursor:pointer;font-size:12px;}
#learnmore-4:hover{text-decoration:underline;}
#slash-4{float:left;padding:0 1px;color:#527a8a;height:17px;border-left:0px solid #527a8a;}
#toollink-4{float:left;padding:16px 0px;}
#atoolink-4{color:#527a8a;font-size:12px;}
#atoolink-4:hover{text-decoration:underline;font-size:12px;}
.container-5{border:1px solid #fab726; background-color:#3e8da6;transition: opacity 300ms ease 0s;height:216px;width:200px;border-radius:10px;overflow:hidden;padding:10px 5px;}
#block-5{height:216px;margin:20px 44px 0px 22%;float:left;width:200px;font-family: 'Open Sans';color:#527a8a;font-size:18px;}
#header-tool-5{font-weight:bold;float:left;font-size:14px;margin:0px auto;width:195px;text-align:left;}
#recommend-5{float:right;padding:8px 0px;}
#like-5{display:none;float:left;margin:0px 10px;}
#message-5{display:none;float:left;margin:0px 5px 0px 0px;}
#logo-5{height:40px;text-align:center;margin:0px auto;line-height:81px;vertical-align:middle;}
#text-para-5{height:95px;font-family: 'Open Sans';font-weight:normal;color:#527a8a;font-size:14px;padding:5px 5px;text-align:center;}
#star-5{display:none;margin:10px auto;text-align:center;}
#theory-5{margin:24px 0px;}
#learnmore-5{float:right;padding:15px 0px;color:#527a8a;cursor:pointer;font-size:12px;}
#learnmore-5:hover{text-decoration:underline;font-size:12px;}
#slash-5{float:left;padding:0 1px;color:#527a8a;height:17px;border-left:0px solid #527a8a;}
#toollink-5{float:left;padding:15px 0px;}
#atoolink-5{color:#527a8a;font-size:12px;}
#atoolink-5:hover{text-decoration:underline;font-size:12px;}
.container-6{border:1px solid #527a8a; background-color:#3e8da6;transition: opacity 300ms ease 0s;height:216px;width:200px;border-radius:10px;overflow:hidden;padding:10px 5px;}
#block-6{height:216px;margin:20px 20px;float:left;width:200px;font-family: 'Open Sans';color:#527a8a;font-size:18px;}
#header-tool-6{font-weight:bold;float:left;font-size:14px;margin:0px auto;width:195px;text-align:left;}
#recommend-6{float:right;padding:8px 0px;}
#like-6{display:none;float:left;margin:0px 10px;}
#message-6{display:none;float:left;margin:0px 5px 0px 0px;}
#logo-6{height:40px;text-align:center;margin:0px auto;line-height:81px;vertical-align:middle;}
#text-para-6{height:95px;font-family: 'Open Sans';font-weight:normal;color:#527a8a;font-size:14px;padding:5px 5px;text-align:center;}
#star-6{display:none;margin:10px auto;text-align:center;}
#theory-6{margin:43px 0px;}
#learnmore-6{float:right;padding:9px 0px;color:#527a8a;cursor:pointer;font-size:12px;}
#learnmore-6:hover{text-decoration:underline;}
#slash-6{float:left;padding:0 1px;color:#527a8a;height:17px;border-left:0px solid #527a8a;}
#toollink-6{float:left;padding:8px 0px;}
#atoolink-6{color:#527a8a;font-size:12px;}
#atoolink-6:hover{text-decoration:underline;font-size:12px;}
.container-7{border:1px solid #527a8a; background-color:#3e8da6;height:216px;width:200px;border-radius:10px;overflow:hidden;padding:10px 5px;}
#block-7{height:216px;margin:160px 2% 0 22%;float:left;width:200px;font-family: 'Open Sans';color:#527a8a;font-size:18px;}
#header-tool-7{font-weight:bold;float:left;font-size:14px;margin:0px auto;width:195px;text-align:left;}
#recommend-7{float:right;padding:8px 0px;}
#like-7{display:none;float:left;margin:0px 10px;}
#message-7{display:none;float:left;margin:0px 5px 0px 0px;}
#logo-7{height:40px;line-height:68px;vertical-align:middle;text-align:center;margin:0px auto;}
#text-para-7{height:95px;font-family: 'Open Sans';font-weight:normal;color:#527a8a;font-size:14px;padding:5px 5px;text-align:center;}
#star-7{display:none;margin:10px auto;text-align:center;}
#text-desc-1,#text-desc-2,#text-desc-3,#text-desc-4,#text-desc-5,#text-desc-6,#text-desc-7{font-family: 'Open Sans';line-height:13px;text-align:center;margin:50px auto;font-size:12px;color:#fff;display:block;width:170px;}
#logo-big-1,#logo-big-2,#logo-big-3,#logo-big-4,#logo-big-5,#logo-big-6,#logo-big-7{display:none;margin:0px 0px;}
#image_number_circle{display:none;}
#para-1{cursor:pointer;}
#button-press{display:none;}
#paper-plane-small{margin:112px 500px;}
#paper-plane-small-1{margin:20px 20px 0 19%;}
#page-company{overflow:hidden;width:600px;margin:35px auto;padding:10px;border:2px solid #527a8a;border-radius:10px;}
#name-1{font-family: 'Open Sans';font-weight:bold;color:#527a8a;font-size:18px;text-align:left;width:100%;padding:10px;}
#text-comment-1-1{line-height:20px;border-top:2px solid #527a8a;padding:10px;font-family: 'Open Sans';font-weight:normal;color:#527a8a;font-size:12px;text-align:justify;padding:40px 44px 5px 44px;}
#text-comment-1-2{line-height:20px;padding:10px;font-family: 'Open Sans';font-weight:normal;color:#527a8a;font-size:12px;text-align:justify;padding:5px 44px;}
#text-comment-1-3{line-height:20px;padding:10px;font-family: 'Open Sans';font-weight:normal;color:#527a8a;font-size:12px;text-align:justify;padding:5px 44px;}
#company-image{width:600px;height:auto;text-align:center;padding-bottom:10px;}
#company-review-1{margin:20px 0px 20px 0px;}
#image-user-1{float:left;padding:0px;}
#user-guest-1{background-color:#ccc;padding:0 0 16px 14px;width:86%;float:left;margin-left:10px;}
#name-guest-1{font-weight:bold;padding:5px 0;font-family: 'Open Sans';color:#527a8a;font-size:12px;}
#text-comment-user-guest-1{width:85%;height:20px;float:left;font-family:'open sans';font-size:14px;white-space:normal;text-align:left;font-size:12px;}
#button-post-1{cursor:pointer;font-family: 'Open Sans';float:right;background-color:#527a8a;color:#fff;padding:5px;margin:0px 10px;}
.learn-more{color:#527a8a;text-decoration:none;outline:none;}
#button{width:60px;display:none;position:absolute;right:0px;bottom:44px;background-color:#fff;padding:5px;border-radius:10px;border:2px solid #3e8da6;}
#facebook-button{float:left;width:30px;text-align:center;}
#twitter-button{float:left;width:30px;text-align:center;}
#p,#t,#m,#f{cursor:pointer;}
#outlook{color:#fff;}
.cookies-info{z-index:9999;position:fixed;bottom:0px;left:0px;background:#000;width:auto;opacity:0.8;font-family: 'Open Sans';color:#fff;padding:10px;height:75px;line-height:30px;font-size:14px;}
#accept{border-radius:10px;cursor:pointer;padding:2px 10px;background:#fab726;font-family: 'Open Sans';color:#000;width:20px;margin:0px 10px;float:right;font-weight:bold;}
#more-info{border-radius:10px;padding:2px 10px;background:#fab726;width:75px;margin:0px 10px;float:right;}
#more-link{border-radius:10px;font-family: 'Open Sans';color:#000;font-weight:bold;}
#submit-page{border: 2px solid #527a8a;border-radius: 10px;margin: 164px auto;overflow: hidden;padding: 10px;width: 600px;}
#header-text-submit{width:100%;text-align:center;font-size:18px;font-family:'open sans';}
.block-submit{border-radius:10px;background:#3e8da6;margin:20px 20px;border:2px dotted #000;overflow:hidden;height:37px;}
.title{text-align:center;font-size:12px;font-family:'open sans';padding:10px 0px;width:130px;float:left;}
#name-textbox{float:left;padding:2.5px;}
#textbox-input-1{height:20px;text-align:left;white-space:normal;padding:5px;border:none;width:410px;}
#website-textbox{float:left;padding:2.5px;}
#textbox-input-2{height:20px;text-align:left;white-space:normal;padding:5px;border:none;width:410px;}
#email-textbox{float:left;padding:2.5px;}
#textbox-input-3{height:20px;text-align:left;white-space:normal;padding:5px;border:none;width:390px;}
#buttom-sub{font-size:12px;border-radius:10px;cursor:pointer;float:right;padding:10px 10px;margin:0px 20px;background:#3e8da6;color:#000;font-family:'open sans';}
#email-div{z-index:1;margin:0px auto;text-align:center;}
#paper-1-div{float:left;padding:20px;}
#paper-2-div{float:left;padding:20px;}
.buttons{border:2px solid #3e8da6;padding:5px;border-radius:10px;width:100px;margin:5px;color:#3e8da6;}
#paper-1{float:left;padding:5px;width:75%;font-family: 'Open Sans';line-height:20px;text-align:justify;}
#paper-2{float:left;padding:5px;width:75%;font-family: 'Open Sans';line-height:20px;text-align:justify;}
#look-paper-1{float:left;color:#000;font-family: 'Open Sans';cursor:pointer;}
#look-paper-2{float:left;color:#000;font-family: 'Open Sans';cursor:pointer;}
#download-paper-1{float:left;color:#000;font-family: 'Open Sans';cursor:pointer;}
#download-paper-2{float:left;color:#000;font-family: 'Open Sans';cursor:pointer;}
#iframe-paper-1{display:none;z-index:-1;position:absolute;top:13%;width:100%;border:2px solid #fff;text-align:right;}
#email-me{width:90%;}
#mail-qrcode{padding:20px 0px 0px 0px !important;float:none;}
#email-send-qrcode{padding:32px 0px 0px 0%;float:none;}
#div-for-close{cursor:pointer;display:none;float:right;background:#000;width:100%;padding:5px 10px;}
#iframe1{width:100%;height:700px;}
#page-qrcode{height:790px;}
#email-txt-qr{border:2px solid #3e8da6;width:293px;font-size:10px;}