@font-face {
    font-family: "OpenSans";
    src: url('../OpenSans-Regular.ttf');
}
@font-face {
    font-family: "Open Sans";
    src: url('../OpenSans-ExtraBold.ttf');
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body{margin:0px;padding:0px;overflow-x:hidden;}
a{text-decoration:none;outline:none;color:#527a8a;border:0px;}
#page-wrapper{width:99%;}
#header{width:100%;margin:0px auto;}
#header-left{width:100%;padding:20px 0px;background-color:#3e8da6;float:none;}
#logo{width:100%;text-align:center;cursor:pointer;margin-left:0%;}
#header-right{width:100%;background-color:#527a8a;float:none;padding:25px 0px 40px 0px;}
#category{float:left;padding:0px 10px 0px 48%;cursor:pointer;width:auto;}/*0 10px 0 43%*/
#login{float:left;padding:0px 10px 0px 0px;cursor:pointer;}
#register{float:left;padding:0px 10px 0px 0px;cursor:pointer;}

#seven-image,#image-seven-plus,#image-seven-plus-2{width:20px;height:20px;}

#page{width:100%;margin:0px auto;}
#page-1{height:382px;text-align:center;}
.banner-text{font-size:16px;font-family: 'Open Sans';color:#527a8a;padding:5px 0px 0px 1px;}
#banner-1{padding:134px 0px 0px 1px;font-size:16px;}
#email-send{padding:10px 0px 0px 0px;float:none;}
#email-txt{width:290px;height:16px;background-color:#fff;border:2px solid #3e8da6;font-size:10px;color:#333;}
#mail{margin:10px 0px;float:none;text-align:center;}
#image-toolbox{width:100px;height:100px;}
#right-block{float:none;width:100%;text-align:center;padding:0px 0px;clear:both;}
#left-block{float:none;width:100%;}
#dotted{margin:10px 0px 150px 0px;height:1306px;background-image:url('../images/border-mobile-real.png');background-repeat:no-repeat;background-position:center top;}
#startnow{float:right;margin:22px 10px 0px 0px;font-family: 'Open Sans';color:#527a8a;font-size:9px;}
#skip-1{float:right;margin:25px 18px 0 0;cursor:pointer;}
#page-2{padding:40px 0 0 8px;}
#seven-tool{float:left;margin:0px 10px 0px 0px;width:auto;}
#para-1{float:left;}
#text-1-1{font-family: 'Open Sans';color:#414142;font-size:8px;}
#text-1-2{font-family: 'Open Sans';color:#414142;font-size:8px;}
#plane-newbie{float:right;margin:33px 65px 0 0;}

#image-paper-plane{height:53px;width:93px;}

#skip-2{float:right;margin:56px 18px 0px 0px;cursor:pointer;}
#next-set{float:right;margin:56px 10px 0px 0px;font-family: 'Open Sans';color:#527a8a;font-size:9px;}
#second-tool{padding:31px 0 0 10px;}
#dotted-tool{float:left;margin:0px 10px 0px 0px;}
#text-2-1{font-family: 'Open Sans';color:#414142;font-size:8px;}
#wing-plane{float:right;margin:19px 49px 0 0;}

#image-wing-plane{height:53px;width:93px;}

#skip-3{float:right;margin:25px 18px 0px 0px;cursor:pointer;}
#accelerate{float:right;margin:25px 10px 0px 0px;font-family: 'Open Sans';color:#527a8a;font-size:9px;}
#final-tool{margin:52px 0 0 30px;}
#dotted-tool-2{float:left;margin:0px 10px 0px 0px;}
#para-3{float:none;}
#text-3-1{font-family: 'Open Sans';color:#414142;font-size:8px;}
#glider{float:right;margin:27px 116px 0 0;}
@media screen and (min-width:320px)
{
	#glider{float:right;margin:27px 135px 0 0;}
	#button{position:absolute;bottom:20px;right:0px;bottom:30px;background-color:#fff;padding:5px;border-radius:10px;border:2px solid #3e8da6;}
	}
@media screen and (min-width:440px)
{
	#glider{float:right;margin:42px 200px 0 0;}	
	}
#image-glider{height:55px;width:55px;}

#skip-4{float:right;margin:17px 18px 0px 0px;cursor:pointer;}
#see-category{float:right;margin:15px 10px 0px 0px;font-family: 'Open Sans';color:#527a8a;font-size:9px;}
#category-list{margin:38px 34px 0;}
#page-5{width:97%;}
.text-header{text-transform:capitalize;padding:10px;display:none;}
.block-1{text-align:center;width:100%;float:left;padding:30px 0px;}
.text-header{padding:10px;display:block;}
.image1{width:100px;margin:0px auto;font-size:80px;}
.image1:hover{ transform: rotate(360deg);transition: transform .8s ease-in-out;}
.more-text{font-family: 'Open Sans';line-height:20px;font-size:12px;width:100%;}
#footer{width:100%;margin:0px auto;padding:0px;font-family: 'Open Sans';font-size:10px;}
#footer-left{float:none;width:100%;height:45px;background-color:#527a8a;color:#fff;padding:20px 0 0 0px;}
#unibz{float:left;}
#copyright{float:left;margin:5px 0 0 30px;font-size:8px;}
#footer-right{background-color:#3e8da6;color:#fff;float:none;width:100%;padding:0px 0px 0px 0px;}
.sepa{border-bottom:1px solid #fff;width:103%;height:0px;float:left;text-align:center;}
#share{position:relative;float:none;padding:10px 0%;cursor:pointer;width:100%;text-align:center;}
#share:hover{text-decoration:underline;}
#submit-resource{float:none;padding:10px 0%;cursor:pointer;width:100%;text-align:center;}
#submit-resource:hover{text-decoration:underline;}
#email{float:none;padding:10px 0%;cursor:pointer;width:100%;text-align:center;}
#email:hover{text-decoration:underline;}
#p,#t,#m,#f{width:52px;height:52px;}
#block-1,#block-2,#block-3,#block-4,#block-5,#block-6,#block-7{float:none;width:200px;text-align:center;margin:20px 29%;}
#button-press{width:100%;margin:0px 30%;display:block !important;cursor:pointer;}
#image-button{float:left;padding:10px;}
#text-go{float:left;font-family: 'Open Sans';color:#527a8a;font-size:16px;padding:19px;}
#paper-plane-small,#paper-plane-small-1{display:none;}
#learnmore-1,#learnmore-2,#learnmore-3,#learnmore-4,#learnmore-5,#learnmore-6,#learnmore-7{font-size:12px;float:none;}
#toollink-1,#toollink-2,#toollink-3,#toollink-4,#toollink-5,#toollink-6,#toollink-7{font-size:12px;float:none;}
#text-moqups,#text-trello,#text-squarespace,#text-crazyegg,#text-mailchimp,#text-hootsuite{margin:10px 0px;padding:0px 0px;font-size:12px;}
#container-1,#container-2,#container-3,#container-4,#container-5,#container-6,#container-7{width:100px;}
#text-desc-1, #text-desc-2, #text-desc-3, #text-desc-4, #text-desc-5, #text-desc-6, #text-desc-7{width:150px;}
#button{position:absolute;bottom:2px;right:0px;background-color:#fff;padding:5px;border-radius:10px;border:2px solid #3e8da6;}
.cookies-info{font-size:12px;z-index:9999;position:fixed;bottom:0px;background:#000;width:auto;height:210px;opacity:0.8;font-family: 'Open Sans';color:#fff;padding:10px;line-height:30px;}
#accept{font-size:12px;border-radius:10px;cursor:pointer;padding:2px 10px;background:#fab726;font-family: 'Open Sans';color:#000;width:20px;margin:0px 10px;float:right;font-weight:bold;}
#more-info{font-size:12px;border-radius:10px;padding:2px 10px;background:#fab726;width:63px;margin:0px 10px;float:right;}
#more-link{font-size:12px;border-radius:10px;font-family: 'Open Sans';color:#000;font-weight:bold;}
#page-company{width:85%;}
#user-guest-1{float:right;padding: 0px 0px 0px 2px;margin-left:0px;}
#form-div{width:89% !important;}
#text-comment-1-1,#text-comment-1-2,#text-comment-1-3{padding: 10px 0 5px;}
#submit-page{width:90%;}
#header-text-submit{font-size:14px;}
#textbox-input-1{width:95%;}
#textbox-input-2{width:95%;}