@import "common";

body {
    overflow-y: scroll;
    color: $darkest-color;
    padding: 0;
}


h1, h2 { margin-bottom: 20px }


// Stylize the links
a { color: $main-color; text-decoration: underline; }
.nav a, .navbar a, .btn, a.list-group-item, a.slogan { text-decoration: none; }
a:focus, a:hover { color: $second-color; }


// Animation for new comments
:target {
    -webkit-animation: from-yellow-to-white 5s;
       -moz-animation: from-yellow-to-white 5s;
         -o-animation: from-yellow-to-white 5s;
            animation: from-yellow-to-white 5s;
    @-webkit-keyframes from-yellow-to-white { from { background: yellow } to { background: white  } }
       @-moz-keyframes from-yellow-to-white { from { background: yellow } to { background: white  } }
         @-o-keyframes from-yellow-to-white { from { background: yellow } to { background: white  } }
            @keyframes from-yellow-to-white { from { background: yellow } to { background: white  } }
}


//.well {
//    background-color: $jumbotron-background;
//    color: $darkest-color;
//}





@import "layout";
@import "forms";
@import "home";
@import "login";
@import "allTools";