@font-face {
    font-family: "Open Sans";
    src: url('../OpenSans-Regular.ttf');
}
@font-face {
    font-family: "'Open Sans'";
    src: url('../OpenSans-ExtraBold.ttf');
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body{margin:0px;padding:0px;overflow-x:hidden;}
a{text-decoration:none;outline:none;color:#527a8a;border:0px;}
#header{width:100%;margin:0px auto;}
#header-left{width:79%;padding:21px 0 21px 0px;background-color:#3e8da6;float:left;}
#logo{width:100%;text-align:center;cursor:pointer;}
#header-right{width:21%;background-color:#527a8a;float:right;padding:30px 0px 30px 0px;}
#category{float:left;padding:0 10px 0 14%;width:65%;cursor:pointer;text-align:center;}/*7%*/
#login{float:left;padding:0 10px 0 14%;width:7%;cursor:pointer;}
#register{float:left;padding:0 10px 0 10%;width:7%;cursor:pointer;}
#page{width:480px;margin:0px auto;}
#page-1{height:382px;background-color:#e6e7e8;}
.banner-text{font-size:22px;font-family: 'Open Sans';color:#527a8a;padding:0px 0px 0px 95px;}
#banner-1{padding:134px 0px 0px 95px;font-size:22px;}
#email-send{padding:76px 0px 0px 95px;float:left;}
#email-txt{width:290px;height:16px;background-color:#fff;border:0px solid #3e8da6;font-size:10px;color:#333;}
#mail{margin:32px 0px 0px 14px;float:left;}
#dotted{margin:10px 0px 150px 0px;height:1400px;background-image:url('../images/border-mobile.png');background-repeat:no-repeat;background-position:center top;}
#start-click{width:100%;margin:0px auto;}
#startnow{float:right;margin:22px 10px 0px 0px;font-family: 'Open Sans';color:#527a8a;font-size:12px;}
#skip-1{float:right;margin:25px 18px 0 0;cursor:pointer;}
#page-2{padding:160px 0px 0px 0px;}
#seven-tool{float:left;margin:0px 10px 0px 0px;}
#para-1{float:left;}
#text-1-1{font-family: 'Open Sans';color:#414142;font-size:12px;}
#text-1-2{font-family: 'Open Sans';color:#414142;font-size:12px;}
#plane-newbie{float:right;margin:12px 7px 0 0;}

#image-paper-plane{height:87px;width:120px;}

#skip-2{float:right;margin:56px 18px 0px 0px;cursor:pointer;}
#next-set{float:right;margin:56px 10px 0px 0px;font-family: 'Open Sans';color:#527a8a;font-size:12px;}
#second-tool{padding:136px 0 0 0px;}
#dotted-tool{float:left;margin:0px 10px 0px 0px;}
#text-2-1{font-family: 'Open Sans';color:#414142;font-size:12px;}
#wing-plane{float:right;margin:103px 14px 0 0;}

#image-wing-plane{height:100px;width:170px;}

#skip-3{float:right;margin:25px 18px 0px 0px;cursor:pointer;}
#accelerate{float:right;margin:25px 10px 0px 0px;font-family: 'Open Sans';color:#527a8a;font-size:12px;}
#final-tool{margin:110px 0 0px 20px;width:auto;}
#dotted-tool-2{float:left;margin:0px 10px 0px 0px;}
#para-3{float:left;}
#text-3-1{font-family: 'Open Sans';color:#414142;font-size:12px;}
#glider{float:right;margin:65px 153px 0 0;}

#image-glider{height:125px;width:160px;}

#skip-4{float:right;margin:17px 18px 0px 0px;cursor:pointer;}
#see-category{float:right;margin:15px 10px 0px 0px;font-family: 'Open Sans';color:#527a8a;font-size:12px;}
#category-list{margin:38px 34px 0;width:90%;}
#page-5{width:445px;}
.text-header{text-transform:capitalize;padding:10px;display:none;}
.block-1{text-align:center;width:216px;float:left;padding:30px 0px;}
.text-header{padding:10px;display:block;}
.image1{width:100px;margin:0px auto;font-size:80px;}
.image1:hover{ transform: rotate(360deg);transition: transform .8s ease-in-out;}
.more-text{font-family: 'Open Sans';line-height:20px;font-size:12px;width:195px;}
#footer{width:100%;margin:0px auto;padding:0px;font-family: 'Open Sans';font-size:10px;}
#footer-left{float:left;width:44%;height:45px;background-color:#527a8a;color:#fff;padding:30px 0 0 0px;}
#unibz{float:left;}
#copyright{float:left;margin:5px 0px 0px 8px;font-size:11px;}
#footer-right{background-color:#3e8da6;color:#fff;float:right;width:56%;padding:31px 0px 30px 0px;}
.sepa{border:1px solid #fff;height:12px;float:right;}
#share{float:right;padding:0 20px;cursor:pointer;position:relative;}
#share:hover{text-decoration:underline;}
#submit-resource{float:right;padding:0 20px;cursor:pointer;text-align:center;}
#submit-resource:hover{text-decoration:underline;}
#email{float:right;padding:0 20px;cursor:pointer;}
#email:hover{text-decoration:underline;}
@media screen and (min-width:430px)
{
		#copyright{float:left;margin:5px 0px 0px 40px;font-size:10px;}
		#footer-left{width:100%;float:none;margin:0px auto;}
		#footer-right{width:100%;float:none;margin:0px auto;}
		#share{float:right;padding:0 20px;cursor:pointer;width:6%;margin:0px auto;}
		#button{right:0px;width:60px;position:absolute;bottom:15px;background-color:#fff;padding:5px;border-radius:10px;border:2px solid #3e8da6;}
		#submit-resource{float:right;padding:0 20px;cursor:pointer;text-align:center;width:20%;margin:0px auto;}
		#email{float:right;padding:0 28px;cursor:pointer;width:30%;margin:0px auto;}
		#image-toolbox{width:252px;height:auto;}
		#right-block{float:left;width:47%;text-align:center;padding:100px 0px;}
		#left-block{float:left;width:52%;}
		#banner-1{padding: 134px 0 0 24px;}
		.banner-text{padding:0px 0px 0px 24px;}
		#email-send{ padding: 30px 0 0 20px;}
		#mail{padding:0px 10px;float:left;width:auto;text-align:left;}
	}
@media screen and (max-width:730px)
{
		#copyright{float:left;margin:5px 0px 0px 40px;font-size:10px;}
		#footer-left{width:100%;float:none;margin:0px auto;}
		#footer-right{width:100%;float:none;margin:0px auto;}
		#share{float:right;padding:0 20px;cursor:pointer;width:6%;margin:0px auto;position:relative;}
		#button{right:0px;width:60px;position:absolute;bottom:15px;background-color:#fff;padding:5px;border-radius:10px;border:2px solid #3e8da6;}
		#submit-resource{float:right;padding:0 20px;cursor:pointer;text-align:center;width:20%;margin:0px auto;}
		#email{float:right;padding:0 28px;cursor:pointer;width:30%;margin:0px auto;}
		#image-toolbox{width:140px;height:auto;}
		#right-block{float:right;width:100%;text-align:center;padding:0px 0px;}
		#left-block{float:left;width:100%;text-align:center}
		#banner-1{padding: 134px 0 0 24px;}
		.banner-text{padding:0px 0px 0px 15px;}
		#email-send{width:96%;text-align:center;}
		#mail{width:92%;text-align:center;padding:0px 0px;}
	}
#page-level-2{height:auto;overflow:hidden;width:100%;margin:80px auto 80px auto;background-image:url('');background-repeat:no-repeat;background-position:center top;}
.container-1,.container-2,.container-3,.container-4,.container-5,.container-6,.container-7{height:216px;width:auto;}
#block-1,#block-2,#block-3,#block-4,#block-5,#block-6,#block-7{float:left;width:92%;height:auto;text-align:center;margin:20px 40px;}
#paper-plane-small,#paper-plane-small-1{display:none;}
#button-press{display:none;}
#learnmore-1,#learnmore-2,#learnmore-3,#learnmore-4,#learnmore-5,#learnmore-6,#learnmore-7{width:100%;font-size:12px;float:none;padding:5px;border-bottom:2px solid #527a8a;}
#toollink-1,#toollink-2,#toollink-3,#toollink-4,#toollink-5,#toollink-6,#toollink-7{font-size:14px;float:none;padding:5px;}
#slash-1,#slash-2,#slash-3,#slash-4,#slash-5,#slash-6,#slash-7{width:100%;border-left:0px solid transparent;height:auto;}
#recommend-1,#recommend-2,#recommend-3,#recommend-4,#recommend-5,#recommend-6,#recommend-7{float:none;text-align:center;width:100%;}
#header-tool-1,#header-tool-2,#header-tool-3,#header-tool-4,#header-tool-5,#header-tool-6,#header-tool-7{float:none;text-align:center;}
#text-moqups,#text-trello,#text-squarespace,#text-crazyegg,#text-mailchimp,#text-hootsuite,#text-xtensio{margin:10px 0px;padding:0px 0px;font-size:12px;}
#learnmore-1,#learnmore-2,#learnmore-3,#learnmore-4,#learnmore-5,#learnmore-6,#learnmore-7:hover{width:100%;font-size:12px;float:none;padding:5px;border-bottom:2px solid #527a8a;}
#button{right:0px;width:60px;position:absolute;bottom:15px;background-color:#fff;padding:5px;border-radius:10px;border:2px solid #3e8da6;}
.cookies-info{font-size:12px;z-index:9999;position:fixed;bottom:0px;background:#000;width:auto;height:120px;opacity:0.8;font-family: 'Open Sans';color:#fff;padding:10px;line-height:30px;}
#image-trello-img-1{width:100%;height:auto;}
#company-poster-1{width:90%;height:auto;margin:0px 3% auto 5%;}
#page-company{width:95%;height:auto;margin:10px auto;}
#company-image{width:100%;height:auto;}
#name-1{padding:10px 0px;margin:0px 0px 0px 35px;}
#text-comment-user-guest-1{width:97%;float:none;}
#button-post-1{margin:10px 7px;}
#user-guest-1{padding: 0 0 0 14px;}
#name-textbox{float:none;clear:both;text-align:center;}
#website-textbox{float:none;clear:both;text-align:center;}
.block-submit{height:50%;margin:10px auto;}
.title{width:90%;text-align:center;}
#submit-page{width:95%;}
#textbox-input-1{width:98%;}
#textbox-input-2{width:98%;}
#page-qrcode{width:100%;}
.buttons{width:auto;padding:10px;width:100px;margin:10px auto;}
#paper-1{float:none;clear:both;width:100%;}
#look-paper-1{float:none;width:100%;}
#download-paper-1{float:none;width:100%;}
#paper-2{float:none;clear:both;width:100%;}
#look-paper-2{float:none;width:100%;}
#download-paper-2{float:none;width:100%;}
#paper-1-div{width:80%;}
#paper-2-div{width:80%;}
#email-txt-qr{border:2px solid #3e8da6;width:293px;font-size:10px;}